p {
	color: #904D00;
}

body {font-size: 1em;
	  color: yellow;
	  background-color: #6B75BE;
}

h1 {
	background-color: #E08C2A;
	text-align: center;
	border: 5px;
	border-style: dashed;
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 50px;
	padding-top: 50px;
}

#mainContent{
	margin-left: 200px;
	margin-right: 5px;
}

.centerMe{
	display: block;
	margin-left: auto;
	margin-right: auto;
}