body {
		font-size: 1em;
		background-color: #E24040;
}

p.small {
		line-height: 100px;
}

p.big {
		line-height: 300px;
}

h1 {
		font-family: 'Cookie', cursive;
		font-size: 2em;
		background-color: #30A950;
		text-align: center;
		border: 5px;
		border-style: solid;
		margin-left: 7%;
		margin-right: 7%;
		padding-bottom: 3%;
		padding-top: 3%;
}

#mainContent {
		font-family: 'Alegreya', serif;
		margin-left: 150px;
		margin-right: 75px;
}

.centerMe {
		display: block;
		margin-left: auto;
		margin-right: auto;
}

nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #f1f1f1;
		width: 130px;
		position: fixed;
		height: 100%;
		top: 0;
		left: 0;
}

nav ul li a {
		display: block;
		text-decoration: none;
		color: #000;
		padding-left: 16px;
		padding-top: 8px;
		padding-bottom: 8px;

}

nav ul li a:hover {
		background-color: #555;
		color: #fff;
}

.active {
		background-color: #30A950;
		color: #fff;
}


.resize {
		max-width: 100px;
		height: auto;
}

.imgLeft {
		float: left;
		padding: 25px;
		max-width: 50%;
}

.imgRight {
		float: right;
		padding: 25px;
		max-width: 50%;
}

@media screen and (max-width: 600px) {	
	nav ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			background-color: #f1f1f1;
			width: 100%;
			height: auto;
			position: fixed;
			top: 0;
			left: 0;
	}

	nav ul li a {
			display: block;
			text-decoration: none;
			color: #000;
			padding-left: 16px;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-right: 16px;
	}
	
	nav ul li {
			float: left;
	}
	
	#mainContent {
			margin-left: 5%;
			margin-right: 5%;
			padding-top: 5%;
	}
}
